API_TOKEN=123456:CHANGE_ME
ADMIN_USER_IDS=[123456789]
CLI_PATH=/etc/hysteria/core/cli.py
BACKUP_DIRECTORY=/opt/hysbackup
BACKUP_INTERVAL_HOUR=12
CPU_ALERT_THRESHOLD=90
RAM_ALERT_THRESHOLD=90
COMMAND_TIMEOUT=30
